[include mainsail.cfg]
[include macros.cfg]
[include steppers.cfg]
[include fans.cfg]
[include display.cfg]

#####################################################################
# 	Printer
#####################################################################

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_2F0034001450304738313820-if00
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_32002D00145053424E363620-if00


[printer]
kinematics: corexy
max_velocity: 400
max_accel: 10000
max_z_velocity: 50
max_z_accel: 350
square_corner_velocity: 5.0

[pause_resume]

[exclude_object]

[save_variables]
filename: ~/klipper_config/variables.cfg

#####################################################################
# 	Resonance
#####################################################################

[input_shaper]
shaper_freq_x: 83.8
shaper_type_x: zv
shaper_freq_y: 39.8
shaper_type_y: zv

#####################################################################
# 	Filament Sensor
#####################################################################

[filament_motion_sensor filament_sensor]
detection_length: 25
extruder: extruder
switch_pin: !PG11
pause_on_runout: True

#####################################################################
# 	Temprature Sensors
#####################################################################

[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: PF4

[temperature_sensor Octopus]
sensor_type: temperature_mcu

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host

[temperature_sensor Room_Temp]
sensor_type: Generic 3950
sensor_pin: PF6

#####################################################################
# 	Bed Mesh
#####################################################################

[bed_mesh]
speed: 600
horizontal_move_z: 12
mesh_min: 25,45
mesh_max: 300,300
fade_start: 0.5
fade_end: 10.0
split_delta_z: .01
algorithm: bicubic

probe_count: 7,7
relative_reference_index: 25

[idle_timeout]
timeout: 10800

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	50,25
	50,275
	300,275
	300,25

speed: 400
horizontal_move_z: 12
retries: 5
retry_tolerance: 0.01
max_adjust: 10

#####################################################################
# 	Tap Probe
#####################################################################

[probe]
pin: PG13
x_offset: 0
y_offset: 0
z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

[safe_z_home]
home_xy_position:175,175
speed:400
z_hop:15

activate_gcode:
    {% set PROBE_TEMP = 0 %}
    {% set MAX_TEMP = PROBE_TEMP + 0 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


#####################################################################
# 	Save Config
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 44.648
#*# pid_ki = 12.941
#*# pid_kd = 38.509
#*#
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.880
#*# pid_ki = 1.622
#*# pid_kd = 534.340
#*#
#*# [input_shaper]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.023750, 0.030000, 0.026250, 0.037500, -0.000000, -0.003750, 0.001250
#*# 	-0.015000, 0.003750, 0.023750, -0.005000, 0.018750, 0.010000, -0.020000
#*# 	-0.053750, -0.015000, 0.012500, 0.058750, 0.012500, -0.005000, -0.031250
#*# 	-0.037500, -0.025000, 0.000000, -0.092500, 0.008750, -0.025000, -0.032500
#*# 	-0.071250, -0.026250, -0.002500, -0.005000, 0.026250, 0.021250, -0.023750
#*# 	-0.052500, -0.001250, -0.008750, 0.041250, 0.037500, 0.042500, 0.011250
#*# 	-0.016250, 0.032500, 0.046250, 0.048750, 0.026250, 0.045000, 0.047500
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 45.0
#*# x_count = 7
#*# max_y = 294.96
#*# mesh_x_pps = 2
#*# max_x = 334.96
